.progressbar {
  z-index: 1000;
  width: 400px;
  height: 1px;
  background-color: #45494e;
  display: flex; }
  .progress {
    height: 100%;
    flex-basis: 100%;
    background-color: #3df7c5;
    animation: loader 2s ease-in-out; }
