.d, .h {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 45%;
  max-width: 250px;
  height: auto;
  max-height: 100%;
  margin: 0 20px;
  position: relative;
}
.d {
  top: -30px;
}
.h {
  bottom: -30px;
}
svg {
  stroke-opacity: .2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
svg, img {
  width: 100%;
  height: auto;
  position: relative;
}

