#page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #25282c;
  min-height: 600px; }
  .main_container {
    width: 94vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 5%; }

#box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: transparent;
  pointer-events: none;
}
