<div class="content">
  <div>
    <p class="tag">&#60;body&#62;</p>
  </div>

  <div>
    <p class="tag">&#60;h1&#62;</p>
    <section>
      <h1 [@bubbleAnimation]="bubbleStateExp">
        <span class="bubble-letter" *ngFor="let char of txt.slice(0, 3)">{{ char }}</span><br>
        <span class="bubble-letter" *ngFor="let char of txt.slice(4, 8)">{{ char }}</span>
        <img class="d-small" src="assets/img/logo-letter@2x.png">
        <span class="bubble-letter" *ngFor="let char of txt.slice(9, 14)">{{ char }}</span><br>
        <span class="bubble-letter" *ngFor="let char of txt.slice(15)">{{ char }}</span>
      </h1>
      <p class="tag">&#60;/h1&#62;</p>
    </section>
    <p class="txt-sm" [@bubbleAnimation]="bubbleStateExp">
      <span class="bubble-letter" *ngFor="let char of sub">{{ char }}</span>
    </p>
    <button routerLink="/contact" (click)="onClick()">Contact me</button>
  </div>

  <div>
    <p class="tag">&#60;/body&#62;</p>
    <p class="tag">&#60;/html&#62;</p>
  </div>
</div>
<!-- /.content -->
<div class="intro">
  <app-outline *ngIf="!outlineComplete"></app-outline>
  <app-color *ngIf="outlineComplete"></app-color>
</div>
<!-- /.intro -->
